@use "variables" as *;

:host {
  cursor: pointer;
  font-size: 24px;
}

path {
  fill: $gray;
  transition: fill 200ms ease;

  :host:hover & {
    fill: #f28b82;
  }

  &.selected {
    fill: #e53935;
  }
}
