@use "variables" as *;

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: $header-height;
  background: $blue;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.favorite {
  font-size: 1.7rem;
  span {
    margin-left: 6px;
  }
}


