<div class="wrapper">
  <div class="search-spacer" [class.has-results]="itemsList().length"></div>

  <div class="search" [class.has-results]="itemsList().length">
    <div class="input-wrapper">
      <div class="input-container">
        <label for="search">Search</label>
        <input [formControl]="searchControl" id="search" name="search" placeholder="Type to search" />
      </div>
    </div>
  </div>

  @if (itemsList().length) {
    <app-items-list [itemsList]="itemsList()"/>
  }

  @if (pagination()?.length) {
    <div class="pagination">
      @for (page of pagination(); track page.pageNum) {
        <a [href]="page.link" [class.active]="page.active">{{ page.pageNum }}</a>
      }
    </div>
  }

</div>
