@use "variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 10px 0;
  box-shadow: 0 0 8px #3172C458;

  &.full-height {
    height: 100%;
    position: relative;
  }

  input {
    min-width: 600px;
    border: 2px solid $gray;
    height: 26px;
    border-radius: 4px;
    padding: 6px;
    outline: none;
    color: $dark-black-font;

    &:focus {
      border-color: $light-blue;

    }
    &::placeholder {
      font-style: italic;
    }
  }

  label {
    display: none;
  }
}
