$header-height: 70px;

$light-blue: #649af3;
$blue: #4285f4;
$white: #fff;
$gray: #bfc5d1;

$main-black-font: #707683;
$main-black-font-hover: #55585d;
$dark-black-font: #323c47;
$light-black-font: #99acb7;


