$header-height: 70px;

$main-blue: #3c7eea;
$dark-blue: #1666ea;
$light-blue: #649af3;

$blue: #4285f4;

$white: #fff;
$black: #000;

$main-white: #fbfcfd;
$dark-white: #f4f7fc;
$light-white: #fafbfc;

$main-black-font: #707683;
$main-black-font-hover: #55585d;
$dark-black-font: #323c47;
$light-black-font: #99acb7;

$bg-blue: #3c7de9;

$input-focus-border-color: #d7dff2;
$input-error-color: #fd1f3a;
$input-error-border-color: #fd1f3a40;

$button-hover-color: #5695fd;
$button-disabled-color: #c2cfe0;

$icon-gray: #bfc5d1;
