/* You can add global styles to this file, and also import other style files */
@use "variables" as *;

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  align-content: center;
  height: 100vh;
  width: 100%;
  font-size: 1rem;
}

.wrapper {
  height: calc(100vh - $header-height );
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.justify-right {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

